<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('./partials/head.ejs') -%>
		<title>Document</title>
	</head>
	<body>
		<%- include('./partials/navigation.ejs') -%>
		<div class="container">
			<div class="row">
				<% if (regist == 'cliente') { %>
				<h3>Soy cliente</h3>
				<% } else { %> <%- include('./partials/error.ejs') -%> <% } %>
			</div>
		</div>
	</body>
</html>
