<div class="col-md-4 offset-md-4">
	<div class="card mt-5">
		<div class="card-body">
			<h5 class="card-title text-center">No estas autorizado</h5>
			<h4 class="text-center"><a href="/">Inicia sessión</a></h4>
		</div>
	</div>
</div>
